version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: devops-ex-app:local
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/devopsdb
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
    ports:
      - "8080:8080"
    networks:
      - devops_net

  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      - POSTGRES_DB=devopsdb
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - devops_net

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - devops_net

volumes:
  db_data:

networks:
  devops_net:
    driver: bridge
